<nav class="nav">
  <div class="nav-top">
    <div class="logo">
      <a href="{{repo}}/">Toolbox</a>
    </div>
    <span class="section-title">Tools</span>
    <ul>
      <li>
        <a class="hoverable" href="{{repo}}/tools/shift-cipher.html"
          >Shift cipher</a
        >
      </li>
      <li>
        <a class="hoverable" href="{{repo}}/tools/affine-cipher.html"
          >Affine cipher</a
        >
      </li>
    </ul>
    <!-- <span class="section-title">Practice</span> -->
  </div>
  <div class="nav-bottom">
    <ul>
      <a
        class="icon-link hoverable"
        href="https://github.com/Al3bad"
        target="_blank"
      >
        GITHUB
      </a>
    </ul>
  </div>
</nav>
